// ------------------------------
// res_com.rc
// Kp resource script.
//
#include "res_com.h"

KP_IDI_SETUP_ICON     ICON    DISCARDABLE     "f:/kp/source/common/setup.ico"
// KP_IDI_START_ICON     ICON    DISCARDABLE     "f:/kp/source/common/start.ico"
KP_IDI_OPEN_ICON      ICON    DISCARDABLE     "f:/kp/source/common/open.ico"

// KP_IDI_HIDE_CLOSE_BUTTON_BMP_XP  BITMAP DISCARDABLE    "f:/kp/source/kpstart/hbut_xp.bmp"

// KP_IDI_SLIDER_BMP     BITMAP  DISCARDABLE     "f:/kp/source/kpstart/slider1.bmp"

